# Import libraries and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from surprise import Reader, Dataset

from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV

In [2]:
df = pd.read_csv('ratings.csv')

In [3]:
df = df.drop(columns='timestamp')

In [4]:
r = Reader()
d = Dataset.load_from_df(df, r)

# Fit SVD algorithm with grid search

In [5]:
params = {'n_factors': [20, 50, 100],
         'reg_all': [0.02, 0.05, 0.1]}
g_s_svd = GridSearchCV(SVD,param_grid=params,n_jobs=-1)
g_s_svd.fit(d)

In [6]:
print(g_s_svd.best_score)
print(g_s_svd.best_params)

{'rmse': 0.8686280454998142, 'mae': 0.6673052785841285}
{'rmse': {'n_factors': 100, 'reg_all': 0.05}, 'mae': {'n_factors': 100, 'reg_all': 0.05}}

In [7]:
knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, d, n_jobs=-1)

# Scoring (root mean squared error)

In [8]:
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.9723378 , 0.96846583, 0.9683936 , 0.97535704, 0.9757883 ]))
('test_mae', array([0.75157743, 0.74628449, 0.74847547, 0.75283182, 0.75401028]))
('fit_time', (0.8328487873077393, 0.7456421852111816, 0.5231609344482422, 0.6437911987304688, 0.54026198387146))
('test_time', (1.9139373302459717, 1.9061760902404785, 1.8245539665222168, 2.1783599853515625, 1.474107027053833))
-----------------------
0.9720685129049051

In [9]:
knn_baseline = KNNBaseline(sim_options={'name':'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline, d)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [10]:
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.88046902, 0.87387412, 0.87644552, 0.87478058, 0.87915189]))
('test_mae', array([0.67162817, 0.66776759, 0.66989094, 0.66810209, 0.67167676]))
('fit_time', (1.1462011337280273, 0.8970060348510742, 0.7907979488372803, 0.6389331817626953, 0.640084981918335))
('test_time', (2.799245834350586, 2.305368661880493, 2.1404120922088623, 2.064384937286377, 2.3926210403442383))

0.8769442256379069

# Import movie titles

In [11]:
m = pd.read_csv('movies.csv')

In [12]:
dataset = d.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

In [14]:
svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [15]:
svd.predict(2, 4)

Prediction(uid=2, iid=4, r_ui=None, est=3.0609897425443497, details={'was_impossible': False})

In [24]:
def movie_rater(movie_df,num, genre=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movie_df[movie_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movie_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
        if rating == 'n':
            continue
        else:
            rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
            rating_list.append(rating_one_movie) 
            num -= 1
    return rating_list

# User input for movie ratings

In [25]:
user_rating = movie_rater(m, 5, 'Comedy')

      movieId                        title          genres
8454   112303  Think Like a Man Too (2014)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title        genres
2681     3591  Mr. Mom (1983)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
   movieId                    title          genres
2        3  Grumpier Old Men (1995)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                     title                genres
3916     5503  Last Kiss, The (Ultimo bacio, L') (2001)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                             title                  genres
1510     2038  Cat from Outer Space, The (1978)  Children|Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title  genres
9210   151739  Dirty Grandpa (2016)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                         title  genres
6853    62113  How to Lose Friends & Alienate People (2008)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
5975    36289  Asterix & Obelix vs. Caesar (Astérix et Obélix...

                                 genres
5975  Adventure|Children|Comedy|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
     movieId         title                genres
936     1236  Trust (1990)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId         title          genres
2695     3616  Loser (2000)  Comedy|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title  genres
4709     7026  Summer School (1987)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title                   genres
8128   101423  Mezzo Forte (1998)  Action|Animation|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title                        genres
1399     1918  Lethal Weapon 4 (1998)  Action|Comedy|Crime|Thriller
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title        genres
4452     6573  Avanti! (1972)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title  \
7530    84637  Gnomeo & Juliet (2011)

                                                 genres
7530  Adventure|Animation|Children|Comedy|Fantasy|Ro...
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId                        title                     genres
9498   170777  There Once Was a Dog (1982)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                title                     genres
2778     3716  Fatal Beauty (1987)  Action|Comedy|Crime|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title               genres
7734    90717  Tower Heist (2011)  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                     title        genres
3708     5113  After the Fox (Caccia alla volpe) (1966)  Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title         genres
1891     2514  Pet Sematary II (1992)  Comedy|Horror
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId               title         genres
3029     4053  Double Take (2001)  Action|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
4655     6954  Barbarian Invasions, The (Les invasions barbar...

                                  genres
4655  Comedy|Crime|Drama|Mystery|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                         title                 genres
5799    31700  Because of Winn-Dixie (2005)  Children|Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId                    title  genres
7115    70984  Taking Woodstock (2009)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                            title  \
2250     2987  Who Framed Roger Rabbit? (1988)

                                                 genres
2250  Adventure|Animation|Children|Comedy|Crime|Fant...
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId                       title         genres
1880     2498  My Favorite Martian (1999)  Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                           title  \
7020    68480  Flatfoot on the Nile (Piedone d'Egitto) (1980)

                   genres
7020  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId              title  genres
9240   154065  Dad's Army (2016)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                                              title  \
8049    98623  Winners and Sinners (Qi mou miao ji: Wu fu xin...

                   genres
8049  Action|Comedy|Crime
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                           title  genres
4823     7191  Blame It on the Bellboy (1992)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                          title            genres
6091    42009  Cheaper by the Dozen 2 (2005)  Adventure|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId                                            title  \
9507   170939  Captain Underpants: The First Epic Movie (2017)

                                genres
9507  Action|Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                           title                genres
5914    33725  It's All Gone Pete Tong (2004)  Comedy|Drama|Musical
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                      title        genres
8224   103865  Revenge for Jolly! (2012)  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId           title  genres
3862     5427  Caveman (1981)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                     title         genres
3969     5597  Suburban Commando (1991)  Comedy|Sci-Fi
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                   title                genres
6999    67618  Strictly Sexual (2008)  Comedy|Drama|Romance
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                    title  genres
5314     8814  Without a Paddle (2004)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                        title  genres
4729     7051  What's New, Pussycat (1965)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                              title                   genres
1486     2011  Back to the Future Part II (1989)  Adventure|Comedy|Sci-Fi

How do you rate this movie on a scale of 1-5, press n if you have not seen :
5

In [26]:
user_rating

[{'userId': 1000, 'movieId': 84637, 'rating': '5'},
 {'userId': 1000, 'movieId': 31700, 'rating': '5'},
 {'userId': 1000, 'movieId': 2987, 'rating': '5'},
 {'userId': 1000, 'movieId': 42009, 'rating': '5'},
 {'userId': 1000, 'movieId': 2011, 'rating': '5'}]

In [27]:
new_ratings_df = df.append(user_rating,ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df,r)

In [28]:
svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [29]:
list_of_movies = []
for m_id in df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [30]:
ranked_movies = sorted(list_of_movies, key=lambda x:x[1], reverse=True)

# Movie recommendations

In [31]:
def recommended_movies(user_ratings,movie_title_df,n):
        for idx, rec in enumerate(user_ratings):
            title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
            print('Recommendation # ', idx+1, ': ', title, '\n')
            n-= 1
            if n == 0:
                break
            
recommended_movies(ranked_movies,m,5)

Recommendation #  1 :  906    Lawrence of Arabia (1962)
Name: title, dtype: object

Recommendation #  2 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  3 :  3622    Amelie (Fabuleux destin d'Amélie Poulain, Le) ...
Name: title, dtype: object

Recommendation #  4 :  841    Streetcar Named Desire, A (1951)
Name: title, dtype: object

Recommendation #  5 :  686    Rear Window (1954)
Name: title, dtype: object